.categories {
    padding: 70px 0;
    padding-bottom: 40px;


    .sec-heading {
        margin-bottom: 80px;

        .tagline {
            color: #ef470d;
            display: block;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 2.8px;
            text-transform: uppercase;
            margin-bottom: 10px;
            position: relative;
        }

        .sec-title {
            font-size: 42px;
            margin-bottom: 0;
            color: #0c2e60;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
        }
    }

    .icon-list-block {
        background-color: #fff;
        -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
        border: 1px solid #efefef;
        border-radius: 5px;
        display: block;
        padding: 15px 25px;
        margin-bottom: 30px;

        &:hover {
            background-color: #555;

            span {
                color: white !important;
            }
        }

        img {
            display: inline-block;
            margin-right: 20px;
            width: 30px;
        }

        span {
            line-height: .8;
            color: #2f2f35;
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            text-transform: capitalize;
            margin-bottom: 0;
        }
    }
}