.testimonial {
    padding: 70px 0;
    padding-bottom: 40px;
    background: url(https://raw.githubusercontent.com/ninehcobra/free-host-image/main/DoAn2/3.jpg) top center/cover;



    .sec-heading {
        margin-bottom: 80px;

        .tagline {
            color: #ef470d;
            display: block;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 2.8px;
            text-transform: uppercase;
            margin-bottom: 10px;
            position: relative;
        }

        .sec-title {
            font-size: 42px;
            margin-bottom: 0;
            color: #0c2e60;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
        }
    }

    .testimonialBox {
        position: relative;
        background-color: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
        padding: 30px;
        text-align: center;

        .quote-sign {
            color: #f8f8f8;
            font-size: 62px;
            position: absolute;
            top: 30px;
            left: 30px;
            z-index: 1;

            &:before {
                content: "\e67f";
            }
        }
    }


}