.create-btn {
    font-weight: bold;
    width: 150px;
    border-radius: 12px;
    color: white;
    background-color: #ef470d;
    border: none;
    height: 35px;
}

.iscreate-btn {
    font-weight: bold;
    width: 150px;
    border-radius: 12px;
    color: white;
    background-color: blue;
    border: none;
    height: 35px;
    cursor: none;
}

.blog-input {
    margin: 20px 0;
    height: 50px;
    font-size: 25px;
    border: none;

    &:hover {
        border: none;
    }

    &::placeholder {
        color: rgba(117, 117, 117, 0.4);
        font-weight: bold;
    }

    &:focus {
        border: none;
        outline: none;
    }
}

.drag_wrapper {
    border: 1px solid rgba(245, 245, 245, 0.5);
    margin: 10px 0;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    border-color: rgba(245, 245, 245, 0.5);

    &:focus {
        outline: none;
    }

}