.login-container {
    height: 100vh;
    width: 100%;
    background-color: rgba(88, 101, 242, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;



    .register-form {
        height: 500px;
        width: 784px;
        background-color: rgba(49, 51, 56, 255);



        .login-header {
            margin-top: 14px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .login-label {
            margin-top: 5px;
            color: #aaaeb5;
            font-size: 12px;
            font-weight: BOLD;
        }

        .error-text {

            color: #ed7277 !important;

        }


        .login-input {
            background-color: #1e1f22;
            border: none;
            border-radius: 2px;
            height: 40px;
            color: #aaaeb5;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .login-btn {
            background-color: rgba(88, 101, 242, 255);
            display: block;
            margin-top: 20px;
            width: 100%;
            border-radius: 2px;
            height: 44px;
        }

        .logo-container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }


}

body {
    margin: 0;
}

.nav-text {
    color: #05a1e9;
    font-size: 14px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}