::-webkit-scrollbar {
    width: 0.1em;
}

/* Tô màu nền của thanh cuộn */
::-webkit-scrollbar-track {
    background-color: #1e1f22;
}

/* Tô màu cho phần thanh cuộn */
::-webkit-scrollbar-thumb {
    background-color: #1e1f22;
}

/* Khi rê chuột qua phần thanh cuộn */
::-webkit-scrollbar-thumb:hover {
    background: #1e1f22;
}


.dashboard-container {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;

    .list-server-section {
        color: white;
        height: 100vh;
        width: 72px;
        background-color: #1e1f22;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;



        .server-item {
            height: 48px;
            width: 48px;
            background-color: white;
            border-radius: 50%;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            &:hover {
                border-radius: 18px;
            }

            &:nth-child(2) {
                margin-top: 0px !important;
            }
        }

    }

    .list-channel-section {
        height: 100vh;
        width: 240px;
        background-color: #2B2D31;

        .dashboard-header {
            height: 48px;
            border-bottom: 1px solid #1F2124;

            .search-input {
                background-color: #1e1f22;
                border: none;
                height: 28px;
                width: 224px;
                font-size: 14px;
                border-radius: 4px;
                text-align: center;

                ::placeholder {
                    color: #859B98;
                }
            }
        }

        .list-channel {
            height: calc(100vh - 100px);

        }

        .personal-info-container {
            height: 52px;
            background-color: #232428;


            .personal-info {
                height: 39px;
                width: 122px;
                border-radius: 4px;
                margin-left: 10px;


                &:hover {
                    background-color: #404249;
                }

                .avatar {
                    height: 32px;
                    width: 32px;
                    border-radius: 50%;
                }

                .user-name {
                    margin-left: 8px;
                    max-width: 70px;

                    .name {
                        color: #F2E6D4;
                        font-size: 14px;
                        white-space: nowrap;
                        /* Ngăn chữ xuống dòng */
                        overflow: hidden;
                        /* Ẩn phần vượt quá */
                        text-overflow: ellipsis;
                    }

                    .email {
                        font-size: 10px;
                        white-space: nowrap;
                        color: #B5BAC1;
                        /* Ngăn chữ xuống dòng */
                        overflow: hidden;
                        /* Ẩn phần vượt quá */
                        text-overflow: ellipsis;
                    }

                }
            }

            .setting-button-container {
                .setting-button {
                    height: 32px;
                    width: 32px;
                    border-radius: 4px;


                    &:hover {
                        background-color: #404249;
                    }


                }
            }
        }
    }

    .detail-section {
        height: 100vh;
        width: calc(100% - 312px);
        background-color: greenyellow;
    }
}