.app_sidebar {
    display: flex;
    min-height: 100vh;

    .app_sidebar_wrap {
        flex-shrink: 0;

        .app_sidebar_wrapper {
            --width: 96px;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            left: 0;
            padding: 0 8px;
            position: -webkit-sticky;
            position: sticky;
            top: 74px;
            width: var(--width);
            z-index: 8;

            .create_button_wrapper {
                align-items: center;
                background-color: #1473e6;
                border-color: #1473e6;
                border-radius: 50%;
                color: #fff;
                cursor: pointer;
                display: flex;
                height: 44px;
                justify-content: center;
                margin: 8px 0 2px;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
                width: 44px;

                svg {
                    overflow: visible;
                    box-sizing: content-box;
                    transition: transform .3s ease, -webkit-transform .3s ease;
                    display: var(--fa-display, inline-block);
                    height: 16px;
                    overflow: visible;
                    vertical-align: -1.25px;
                    color: #fff;
                    cursor: pointer;

                }
            }

            .sidebar_list {
                padding-left: 0;
                list-style-type: none;
                margin-top: 4px;

                .onselect {
                    background-color: #e8ebed !important;
                }

                .sidebar_item {
                    background-color: #fff;
                    color: #1a1a1a;
                    outline: none;
                    text-decoration: none;
                    align-items: center;
                    border-radius: 16px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    height: 72px;
                    justify-content: center;
                    margin-top: 8px;
                    width: 72px;



                    svg {
                        overflow: visible;
                        box-sizing: content-box;
                        font-size: 18px;
                        height: 1em;
                        vertical-align: -0.125em;
                    }

                    span {
                        font-size: 11px;
                        font-weight: 600;
                        margin-top: 6px;
                    }
                }
            }
        }
    }

    .app_sidebar_content {
        max-width: calc(100% - 96px);
        padding: 0 40px 0 20px;
        flex: 1 1;
    }
}

.main_content {
    max-width: 1920px;
    width: 100%;
    padding: 0;
    margin: 0 auto;

    .home_slideshow {
        margin-top: 18px;

        .slideshow_wrapper {
            min-height: 270px;

            .slideshow_item {
                --cta-hover-color: #6828fa;
                background: linear-gradient(to right, rgb(104, 40, 250), rgb(255, 186, 164));
                border-radius: 16px;
                height: 270px;
                overflow: hidden;
                display: flex !important;

                .slideshow_left {
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    justify-content: center;
                    line-height: 1.6;
                    max-width: 100%;
                    padding: 0 36px 36px;
                    width: 640px;

                    .slideshow_heading {
                        font-weight: 600;
                        margin-bottom: 8px;
                        margin-top: 20px;
                        color: #fff;

                        a {
                            color: #fff;
                            font-size: 32px;
                            font-weight: 700;
                            line-height: 1.5;
                            text-decoration: none;

                            span {
                                display: inline-block;
                                margin-left: 4px;
                                width: 24px;
                            }
                        }
                    }

                    .slideshow_desc {
                        margin-bottom: 24px;
                        margin-top: 0;
                        max-width: 600px;
                        font-size: 16px;
                        line-height: 1.6;
                    }

                    .slideshow_btn {
                        border: 2px solid #fff;
                        border-radius: 16px;
                        color: #fff;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 700;
                        min-width: 124px;
                        padding: 4px 10px;
                        text-align: center;
                        transition: .2s ease;
                        -webkit-tap-highlight-color: transparent;
                        text-decoration: none;
                        background-color: transparent;
                        line-height: 1.6;
                    }
                }

                .slideshow_right {
                    display: flex;
                    flex: 3 1;
                    justify-content: flex-end;

                    a {
                        outline: none;
                        text-decoration: none;
                        -webkit-tap-highlight-color: transparent;
                        background-color: transparent;

                        img {
                            height: 100%;
                            object-fit: cover;
                            display: block;
                            border-style: none;
                        }
                    }
                }
            }

        }
    }

    .home_wrapper {
        margin-top: 70px;
        overflow: hidden;
        padding: 0 44px 74px;

        .scrolllist {
            margin-bottom: 8px;

            .scrolllist_heading_wrapper {
                align-items: baseline;
                display: flex;

                .scrolllist_heading {
                    color: #242424;
                    font-size: 24px;
                    font-weight: 900;
                    margin-right: auto;
                    margin-top: 16px;

                    .scrolllist_label {
                        background-color: #1473e6;
                        border-radius: 4px;
                        color: #fff;
                        font-size: 12px;
                        font-weight: 500;
                        padding: 3px 6px;
                        position: relative;
                        right: -8px;
                        text-transform: uppercase;
                        top: -6px;
                    }
                }
            }

            .scrolllist_body {
                min-height: 200px;
                padding-bottom: 0;
                margin-top: 15px;



                .scrolllist_section {
                    margin-left: -12px;
                    margin-right: -12px;
                    display: flex;
                    flex-wrap: wrap;


                    .scrolllist_item_wrap {
                        width: 25%;
                        display: block;
                        padding-left: 12px;
                        padding-right: 12px;

                        .scrolllist_item_wrapper {
                            overflow: unset;
                            position: relative;
                            margin-bottom: 32px;

                            .scrolllist_item {
                                outline: none;
                                text-decoration: none;
                                border-radius: 16px;
                                display: block;
                                object-fit: cover;
                                overflow: hidden;
                                padding-top: 56.25%;
                                position: relative;
                                width: 100%;
                                -webkit-tap-highlight-color: transparent;

                                .scrolllist_btn {
                                    background-color: #fff;
                                    border-color: #fff;
                                    color: #000;
                                    left: 50%;
                                    opacity: 0;
                                    position: absolute;
                                    top: 60%;
                                    user-select: none;
                                    white-space: nowrap;
                                    transform: translate(-50%, -50%);
                                    transition: all .3s ease 0s;
                                    visibility: hidden;
                                    z-index: 1;
                                    display: inline-block;
                                    font-size: 1.4rem;
                                    font-weight: 600;
                                    outline: none;
                                    padding: 9px 16px;
                                    text-align: center;
                                    border: 1px solid #f05123;
                                    border-radius: 999px !important;


                                }

                                .scrolllist_item_thumb {
                                    height: 100%;
                                    left: 0;
                                    object-fit: cover;
                                    position: absolute;
                                    top: 0;
                                    width: 100%;
                                    border-style: none;
                                    overflow-clip-margin: content-box;
                                    overflow: clip;
                                }
                            }

                            .scrolllist_title {
                                display: block;
                                font-size: 1.17em;
                                margin-block-start: 1em;
                                margin-block-end: 1em;
                                margin-inline-start: 0px;
                                margin-inline-end: 0px;
                                font-weight: 600;
                            }

                            .price {
                                .old_price {
                                    font-size: 14px;
                                    margin-right: 8px;
                                    text-decoration: line-through;
                                }

                                .main_price {
                                    color: #f05123;
                                    font-size: 16px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.prev {
    background-color: #fff !important;
    color: #4b4b4b !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    border-radius: 50%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    height: 40px;
    width: 40px;
    position: absolute;
    left: -21px;
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    top: 118px;
    z-index: 1;
}

.next {
    background-color: #fff !important;
    color: #4b4b4b !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    border-radius: 50%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    height: 40px;
    width: 40px;
    position: absolute;
    right: -20px;

    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    top: 118px;
}